<h1>Admin Dashboard</h1>


<h3>
<p class="glyphicon glyphicon-shopping-cart"></p>
<span>
Amount of products in store:
<%= link_to @products.count, admin_products_path %>
</span>

<br>

<p class="glyphicon glyphicon-align-justify"></p>
<span>
Number of categories:
<%= @categories.count %>
</span>
</h3>
