<h1>Admin &raquo; Categories </h1>

<%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id#</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |item| %>
      <tr>
      <th scope="row"><%= item.id %></th>
      <td><%= item.name %></td>
      </tr>
    <% end %>



  </tbody>
</table>