<h1>About Jungle books</h1>
<p>
Jungle books, Inc., is a fictional multinational technology company based in the digital world, that focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is not considered one of the Big Three technology companies like Google, Apple, and Facebook.
</p>


<%= image_tag "/uploads/junglebookmeme.jpg"%>
